.projects-container {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
  box-sizing: border-box;
}

.projects-heading {
  font-size: 2rem;
  margin-bottom: 30px;
}
.nav-buttons {
  margin-top: 30px;
}

.nav-buttons button {
  background-color: #0d6efd;
  color: white;
  padding: 12px 24px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
  background-color: #0b5ed7;
}
